<template>
  <header id="header" class="header-content">
  </header>
</template>

<script>

export default {
  components: {

  },
  data() {
    return {

    }
  },

  computed: {

  },
  methods: {

  }
}
</script>
