$font-path: '../fonts';

//IRAN SANS

// @font-face {
//   font-family: IRANSans;
//   font-style: normal;
//   font-weight: bold;
//   font-display: fallback;
//   src: url('#{$font-path}/IRANSansWeb_Bold.eot');
//   src: url('#{$font-path}/IRANSansWeb_Bold.eot?#iefix')
//       format('embedded-opentype'),
//     url('#{$font-path}/IRANSansWeb_Bold.woff2') format('woff2'),
//     url('#{$font-path}/IRANSansWeb_Bold.woff') format('woff'),
//     url('#{$font-path}/IRANSansWeb_Bold.ttf') format('truetype');
// }

// @font-face {
//   font-family: IRANSans;
//   font-style: normal;
//   font-weight: 500;
//   font-display: fallback;
//   src: url('#{$font-path}/IRANSansWeb_Medium.eot');
//   src: url('#{$font-path}/IRANSansWeb_Medium.eot?#iefix')
//       format('embedded-opentype'),
//     url('#{$font-path}/IRANSansWeb_Medium.woff2') format('woff2'),
//     url('#{$font-path}/IRANSansWeb_Medium.woff') format('woff'),
//     url('#{$font-path}/IRANSansWeb_Medium.ttf') format('truetype');
// }

// @font-face {
//   font-family: IRANSans;
//   font-style: normal;
//   font-weight: 300;
//   font-display: fallback;
//   src: url('#{$font-path}/IRANSansWeb_Light.eot');
//   src: url('#{$font-path}/IRANSansWeb_Light.eot?#iefix')
//       format('embedded-opentype'),
//     url('#{$font-path}/IRANSansWeb_Light.woff2') format('woff2'),
//     url('#{$font-path}/IRANSansWeb_Light.woff') format('woff'),
//     url('#{$font-path}/IRANSansWeb_Light.ttf') format('truetype');
// }

// @font-face {
//   font-family: IRANSans;
//   font-style: normal;
//   font-weight: normal;
//   font-display: fallback;
//   src: url('#{$font-path}/IRANSansWeb.eot');
//   src: url('#{$font-path}/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
//     url('#{$font-path}/IRANSansWeb.woff2') format('woff2'),
//     url('#{$font-path}/IRANSansWeb.woff') format('woff'),
//     url('#{$font-path}/IRANSansWeb.ttf') format('truetype');
// }

//IRAN YEKAN
@font-face {
  font-family: iranyekanwebbold;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}/etc/iranyekan/WebFonts/fonts/eot/iranyekanwebbold.eot');
  src: url('#{$font-path}/etc/iranyekan/WebFonts/fonts/eot/iranyekanwebbold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('#{$font-path}/etc/iranyekan/WebFonts/fonts/woff/iranyekanwebbold.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('#{$font-path}/etc/iranyekan/WebFonts/fonts/ttf/iranyekanwebbold.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekanweblight;
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/etc/iranyekan//WebFonts/fonts/eot/iranyekanweblight.eot');
  src: url('#{$font-path}/etc/iranyekan//WebFonts/fonts/eot/iranyekanweblight.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('#{$font-path}/etc/iranyekan/WebFonts/fonts/woff/iranyekanweblight.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('#{$font-path}/etc/iranyekan/WebFonts/fonts/ttf/iranyekanweblight.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANYekanRegular;
  src: url('#{$font-path}/etc/iranyekan/IRANYekanRegular.ttf')
    format('truetype');
}

@font-face {
  font-family: IRANYekanExtraBlack;
  src: url('#{$font-path}/etc/iranyekan/IRANYekanExtraBlack.ttf')
    format('truetype');
}

@font-face {
  font-family: IRANYekanExtraBold;
  src: url('#{$font-path}/etc/iranyekan/IRANYekanExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: IRANYekanBoldFaNum;
  src: url('#{$font-path}/etc/iranyekan/Farsi_numerals/IRANYekanBoldFaNum.ttf')
    format('truetype');
}

@font-face {
  font-family: IRANYekanBold;
  src: url('#{$font-path}/etc/iranyekan/IRANYekanBold.ttf') format('truetype');
}

@font-face {
  font-family: IRANYekanBlack;
  src: url('#{$font-path}/etc/iranyekan/IRANYekanBlack.ttf') format('truetype');
}
@font-face {
  font-family: IRANYekanLightFaNum;
  src: url('#{$font-path}/etc/iranyekan/Farsi_numerals/IRANYekanLightFaNum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanweblightfanum;
	font-style: normal;
	font-weight: 300;
	src: url('#{$font-path}/etc/iranyekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanweblightfanum.eot');
	src: url('#{$font-path}/etc/iranyekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('#{$font-path}/etc/iranyekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('#{$font-path}/etc/iranyekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}