/* ====================================================
	margin - padding - font
==================================================== */

@for $i from 0 to 10 {
  .m-#{$i}:nth-child(n) {
    margin: #{$i}px;
  }
  .mt-#{$i}:nth-child(n) {
    margin-top: #{$i}px;
  }
  .mr-#{$i}:nth-child(n) {
    margin-right: #{$i}px;
  }
  .mb-#{$i}:nth-child(n) {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i}:nth-child(n) {
    margin-left: #{$i}px;
  }

  .p-#{$i}:nth-child(n) {
    padding: #{$i}px;
  }
  .pt-#{$i}:nth-child(n) {
    padding-top: #{$i}px;
  }
  .pr-#{$i}:nth-child(n) {
    padding-right: #{$i}px;
  }
  .pb-#{$i}:nth-child(n) {
    padding-bottom: #{$i}px;
  }
  .pl-#{$i}:nth-child(n) {
    padding-left: #{$i}px;
  }
}

@for $i from 2 to 21 {
  .m-#{$i*5}:nth-child(n) {
    margin: #{$i * 5}px;
  }
  .mt-#{$i*5}:nth-child(n) {
    margin-top: #{$i * 5}px;
  }
  .mr-#{$i*5}:nth-child(n) {
    margin-right: #{$i * 5}px;
  }
  .mb-#{$i*5}:nth-child(n) {
    margin-bottom: #{$i * 5}px;
  }
  .ml-#{$i*5}:nth-child(n) {
    margin-left: #{$i * 5}px;
  }

  .p-#{$i*5}:nth-child(n) {
    padding: #{$i * 5}px;
  }
  .pt-#{$i*5}:nth-child(n) {
    padding-top: #{$i * 5}px;
  }
  .pr-#{$i*5}:nth-child(n) {
    padding-right: #{$i * 5}px;
  }
  .pb-#{$i*5}:nth-child(n) {
    padding-bottom: #{$i * 5}px;
  }
  .pl-#{$i*5}:nth-child(n) {
    padding-left: #{$i * 5}px;
  }
}
//font size
@for $i from 8 to 41 {
  .font-#{$i}:nth-child(n) {
    font-size: #{$i}px !important;
  }
}

//font weigth
@for $i from 100 to 900 {
  .weight-#{$i}:nth-child(n) {
    font-weight: #{$i};
  }
}

//width with px
@for $i from 8 to 1000 {
  .width-#{$i}:nth-child(n) {
    width: #{$i}px !important;
  }
}

.row {
  &.row-5 {
    margin-left: -5px;
    margin-right: -5px;
    > [class*='col-'] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.row-10 {
    margin-left: -10px;
    margin-right: -10px;
    > [class*='col-'] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/*========================================
	fix bootstrap columns height
=========================================*/
.fix-cols .col-xs-12,
.fix-cols .col-xs-6:nth-child(2n + 1),
.fix-cols .col-xs-4:nth-child(3n + 1),
.fix-cols .col-xs-3:nth-child(4n + 1),
.fix-cols .col-xs-2:nth-child(6n + 1),
.fix-cols .col-xs-1:nth-child(12n + 1) {
  clear: right;
}

@media (min-width: $screen-sm-min) {
  .fix-cols [class*='col-sm-']:nth-child(1n) {
    clear: none;
  }
  .fix-cols .col-sm-12,
  .fix-cols .col-sm-6:nth-child(2n + 1),
  .fix-cols .col-sm-4:nth-child(3n + 1),
  .fix-cols .col-sm-3:nth-child(4n + 1),
  .fix-cols .col-sm-2:nth-child(6n + 1),
  .fix-cols .col-sm-1:nth-child(12n + 1) {
    clear: right;
  }
}

@media (min-width: $screen-md-min) {
  .fix-cols [class*='col-md-']:nth-child(1n) {
    clear: none;
  }
  .fix-cols .col-md-12,
  .fix-cols .col-md-6:nth-child(2n + 1),
  .fix-cols .col-md-4:nth-child(3n + 1),
  .fix-cols .col-md-3:nth-child(4n + 1),
  .fix-cols .col-md-2:nth-child(6n + 1),
  .fix-cols .col-md-1:nth-child(12n + 1) {
    clear: right;
  }
}

@media (min-width: $screen-lg-min) {
  .fix-cols [class*='col-lg-']:nth-child(1n) {
    clear: none;
  }
  .fix-cols .col-lg-12,
  .fix-cols .col-lg-6:nth-child(2n + 1),
  .fix-cols .col-lg-4:nth-child(3n + 1),
  .fix-cols .col-lg-3:nth-child(4n + 1),
  .fix-cols .col-lg-2:nth-child(6n + 1),
  .fix-cols .col-lg-1:nth-child(12n + 1) {
    clear: right;
  }
}
