@import 'font';
// @import '../fontello/style.css';

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import '../font-awesome/scss/font-awesome';
@import 'mixins';

// =========== PAGE =============
// =========== FOOTER ============
.clockError {
  .vpd-input-group input[type='text'] {
    border: 1px solid #ff8387 !important;
  }
}
.error {
  border: 1px solid #ff8387 !important;
}
.w-100 {
  width: 100%;
}

.vertical-m {
  vertical-align: middle;
}

.form-control.hover-style {
  @include transition(all 0.2s ease-out);
  &:not(:focus) {
    background-color: $input-bg;
    &:hover {
      background-color: $input-bg;
      border-color: #c2cbde;
    }
  }
}

.pointer {
  cursor: pointer;
}

@import '_helpers';
